body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  /* z-index: 2; */
}
#top-svg-bg {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
}
#bottom-svg-bg {
  position: fixed;
  bottom: 0;
  right: 0;
}
#container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  /* height: 100vh; */
}

#table-content {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin: 0px 10px;
  /* border: 1px solid black; */
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
#table-content #table-head {
  background-color: #2b4141;
  color: white;
  font-size: 20px;
  padding: 20px 0px;
}
#table-content #table-head th {
  padding: 20px 0px;
  letter-spacing: 2px;
}
#table-content .row td {
  max-width: 80px;
  word-wrap: break-word;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(207, 206, 206);
}
#table-content .row:nth-child(odd) {
  background-color: rgb(241, 240, 240);
}
#table-content .row:hover {
  background-color: #dbdada;
}
#add-book-btn {
  position: fixed;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 250ms ease-out, color 250ms ease-out;
  background: linear-gradient(to bottom right, #78c0e0, #356d97);
}
#add-book-btn:hover {
  color: #eee;
  opacity: 0.9;
  transition: opacity 250ms ease-in, color 250ms ease-in;
}
.background-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#active {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease-in, visibility 250ms ease-in;
}
#inactive {
  opacity: 0;
  visibility: hidden;
}

#modal {
  width: 400px;
  height: 400px;
  background-color: #eee;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-radius: 20px;
  border: 1px solid rgb(184, 183, 183);
}
#modal #header {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  /* grid-template-columns: repeat(1fr, 3); */
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  /* display: inline; */
  /* align-items: center; */
}
#header h3 {
  margin-right: 30%;
  /* grid-column: 1frs; */
}
.close-modal {
  margin-top: 18px;
  margin-right: 15px;
  /* position: static; */
  /* top: 0;
  right: 20px; */
}
#modal #header div {
  position: relative;
  top: 18px;
  left: 100px;
  cursor: pointer;
  /* padding: 5px 8px;
  padding-bottom: 9px;
  border-radius: 20px; */
}
#modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal form input {
  width: 80%;
  padding: 8px 8px;
  border-radius: 25px;
  border: 0px;
  border-bottom: 2px solid rgb(214, 214, 214);
  margin: 10px 0;
  box-shadow: 2px 0px 2px rgb(207, 207, 207);
}
#book-completed > * {
  width: 50%;
}
#book-completed {
  width: 100%;
  display: flex;
  text-align: center;
}
#book-completed label {
  padding-top: 5px;
}
#book-completed #read {
  box-shadow: none;
  width: 50%;
}
#add-book {
  margin-top: 10px;
  padding: 5px 100px;
  background: linear-gradient(to right, #78c0e0, #356d97);
  opacity: 1;
  transition: opacity 250ms ease-out;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  box-shadow: 0px 5px #cbdce9;
}
#add-book:hover {
  opacity: 0.85;
  transition: opacity 250ms ease-in-out;
}

#modal #header i:hover {
  cursor: pointer;
  background-color: #dadbdb;
  color: rgb(83, 82, 82);
  transform: rotate(360deg);
  transition: transform 500ms, color 500ms, background-color 250ms ease-in;
}
.delete-book {
  cursor: pointer;
}

/* i:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 500ms;
} */

#welcome {
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 50px;
}
#welcome::before {
  content: "";
  margin: 0px 5px 10px 0px;
  background: linear-gradient(to right, #7af5b7, #5bc0eb);
  height: 4px;
  width: 170px;
  max-width: 200px;
  display: inline-block;
}
#welcome::after {
  content: "";
  width: 170px;
  height: 4px;
  background: linear-gradient(to right, #5bc0eb, #7af5b7);
  margin: 0px 5px 10px 5px;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  #welcome {
    font-size: 20px;
  }

  #welcome::before {
    margin: 0px 5px 5px 0px;
    width: 65px;
  }
  #welcome::after {
    margin: 0px 5px 4px 2px;
    width: 65px;
  }

  #modal {
    width: 300px;
  }
  #modal #header {
    margin-left: 60px;
  }
  #table-content #table-head th {
    font-size: 12px;
    padding: 5px 0px;
    /* padding: 0;
    margin: 0; */
  }
  @media only screen and (max-width: 300px) {
    #welcome {
      font-size: 16px;
    }

    #welcome::before {
      margin: 0px 5px 2px 0px;
      width: 40px;
    }
    #welcome::after {
      margin: 0px 5px 2px 2px;
      width: 40px;
    }

    #modal {
      width: 260px;
    }
    #modal #header {
      margin-left: 70px;
    }
    #table-content #table-head th {
      font-size: 12px;
      padding: 5px 0px;
      /* padding: 0;
    margin: 0; */
    }
  }
}
