body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
#container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  /* height: 100vh; */
}

#table-content {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  /* border: 1px solid black; */
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
#table-content #table-head {
  background-color: #2b4141;
  color: white;
  font-size: 20px;
  padding: 20px 0px;
}
#table-content #table-head th {
  padding: 20px 0px;
  letter-spacing: 2px;
}
#table-content .row td {
  padding: 10px 0px;
  border-bottom: 1px solid rgb(207, 206, 206);
}
#table-content .row:nth-child(odd) {
  background-color: rgb(241, 240, 240);
}
#table-content .row:hover {
  background-color: #dbdada;
}
#add-book-btn {
  position: fixed;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 250ms ease-out, color 250ms ease-out;
  background: linear-gradient(to bottom right, #78c0e0, #356d97);
}
#add-book-btn:hover {
  color: #eee;
  opacity: 0.9;
  transition: opacity 250ms ease-in, color 250ms ease-in;
}
.background-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  top: 0;
  /* transition: background-color 250ms; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#active {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease-in, visibility 250ms ease-in;
}
#inactive {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

#modal {
  width: 400px;
  height: 400px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border: 1px solid rgb(184, 183, 183);
}
/* form #modal > * {
  display: block;
} */

form #modal input {
  width: 70%;
  padding: 8px 8px;
  border-radius: 25px;
  border: 0px;
  border-bottom: 2px solid rgb(214, 214, 214);
  margin: 10px 0;
  box-shadow: 2px 0px 2px rgb(207, 207, 207);
}
#book-completed > * {
  width: 50%;
}
#book-completed {
  width: 100%;
  display: flex;
  text-align: center;
}
#book-completed label {
  padding-top: 5px;
}
#book-completed #read {
  box-shadow: none;
  width: 50%;
}
#add-book {
  margin-top: 10px;
  padding: 5px 100px;
  background: linear-gradient(to right, #78c0e0, #356d97);
  opacity: 1;
  transition: opacity 250ms ease-out;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  box-shadow: 0px 5px #cbdce9;
}
#add-book:hover {
  opacity: 0.85;
  transition: opacity 250ms ease-in-out;
}
/* #modal #header {
  width: 400px;
  display: flex;
  justify-content: center;
} */
#modal #header a {
  position: relative;
  left: 250px;
  bottom: 43px;
  cursor: pointer;
  padding: 5px 8px;
  padding-bottom: 9px;
  border-radius: 20px;

  /* left: 100px; */
}
#modal #header a:hover {
  background-color: #dadbdb;
  color: rgb(83, 82, 82);
  transition: color 500ms, background-color 250ms ease-in;
}

i:hover {
  transform: rotate(180deg);
  transition: transform 250ms;
}
